* {
  box-sizing: border-box;
}
:root {
  font-family: "Lucida Console", monospace;
  font-size: 16px;
  background: #333;
  color: #fff;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#app #canvas {
  display: block;
  margin: 0 auto;
  touch-action: none;
}
